/* grid layout for the overall page */

.header {
  grid-area: title;
  text-align: center;
  width: 100%;
  background-color: white;
  padding-bottom: 2em;
  margin: auto;
}

p {
  color:  #373737;
}

h1 {
  margin-bottom: 0px;
  color:  #373737;
}

h2 {
  margin-bottom: 10px;
  color: #373737;
  font-size: 17px;
}

.navbar {
  grid-area: nav;
  background: #373737;
  width: 100%;
}

.contentAll {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "img text"
    ". audio";
  grid-gap: 20px;
  grid-template-columns: 1.5fr 1fr;
}

.contentImage {
  grid-area: img;

}

.contentText {
  grid-area: text;
  margin-top: 30px;
}

.contentAudio {
  grid-area: audio;
}

.categories {
  grid-area: menu;
  justify-self: center;
  padding: 20px;
  padding-top: 50px;
}

.grid-container-all {
  display: grid;
  grid-template-areas:
    "title title title"
    "nav nav nav"
    "content content menu";
  grid-template-columns: 2fr 2fr 1fr;

}

.radio {
  color: #373737;
}

/* layout for the page after breakpoint 600px (mobile phones) */

@media screen and (max-width: 750px) {
  .grid-container-all {
    grid-template-areas:
      "title"
      "nav"
      "menu"
      "content";
    grid-template-columns: 100%;
    grid-gap: 0;
  }
  .contentAll {
    grid-template-areas:
      "img"
      "text"
      "audio";
    grid-template-columns: 100%;
  }

  .categories {
    display: flex;
    justify-content: space-evenly;
    justify-self: auto;
    padding-top: 0;
  
  }

  .contentAudio {
    justify-self: center;
  }

  .contentText {
    padding: 0px 15px 0px;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }



}
