/* grid layout for the overall page */

.title {
  grid-area: title;
  justify-self: center;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 10px;
}

.navbar {
  grid-area: nav;
  background-color: black;
}

.contentAll {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "img text"
    ". audio";
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.contentImage {
  grid-area: img;
}

.contentText {
  grid-area: text;
}

.contentAudio {
  grid-area: audio;
}

.categories {
  grid-area: menu;
  justify-self: center;
}

.grid-container-all {
  display: grid;
  grid-template-areas:
    "title title title"
    "nav nav nav"
    "content content menu";
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 50px;
}

/* layout for the page after breakpoint 600px (mobile phones) */

@media screen and (max-width: 750px) {
  .grid-container-all {
    grid-template-areas:
      "title"
      "nav"
      "content"
      "menu";
    grid-template-columns: 100%;
    grid-gap: 20px;
  }
  .contentAll {
    grid-template-areas:
      "img"
      "text"
      "audio";
    grid-template-columns: 100%;
  }

  .categories {
    display: flex;
    justify-content: space-evenly;
    justify-self: auto;
  }

  .contentAudio {
    justify-self: center;
  }

  .contentText {
    padding: 0px 15px 0px;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
