/* grid layout for the overall page */

.title {
  grid-area: title;
  justify-self: center;
}

.navbar {
  grid-area: nav;
  background-color: black;
}

.contentImage {
  grid-area: img;
}

.contentText {
  grid-area: text;
}

.contentAudio {
  grid-area: audio;
}

.categories {
  grid-area: menu;
  justify-self: center;
}

.grid-container-all {
  display: grid;
  grid-template-areas:
    "title title title"
    "nav nav nav"
    "img text menu"
    ". audio .";
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 50px;
}

/* layout for the page after breakpoint 600px (mobile phones) */

@media screen and (max-width: 600px) {
  .grid-container-all {
    grid-template-areas:
      "title"
      "nav"
      "img"
      "text"
      "audio"
      "menu";
    grid-template-columns: 100%;
  }
}
